*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}



/*unvisited link*/
    div a:link {background-color:dark; padding: 15px; border-radius: 20px;}
/*mouse over link*/
    div a:hover {background-color: hsl(145, 35%, 43%); cursor: pointer; padding: 15px; border-radius: 20px;}
/*active link--still unable edit later*/
    div a:active {background-color:hsl(145, 35%, 43%); padding: 15px; border-radius: 20px;}

#Aboutme {
    font-size: 20px;
}

.card-img-top {
    height: 600px;
}
.dropdown-menu a:hover {background-color: hsl(145, 35%, 43%); cursor: pointer; border-radius: 0%;}


.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.col {
    display: flex ;
    flex-direction: column;
    gap: 20px;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.digi-arts img {
    height: auto;
    width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

.traditional-arts img {
    height: auto;
    width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

.photos img {
    height: auto;
    width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

.paint img {
    height: auto;
    width: 100%;
   border-radius: 10px;
   object-fit: cover;
}

.facebook img{
    height: 75px;
    width: 250px;
    position: absolute;
    left: 15%;
}

.x img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 8650px;
}

.ig img{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 75%;
    top:8650px;
}

.email {
    text-decoration: none;
}
